html {
	background: none; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	margin-top:3px;
}
.preferences {
	white-space:nowrap;
}
input.max_show,input.render_max {
	width:5em;
}
.tab-template,.listBrowser,.listBrowser-template,.subscriptionBrowser,.subscriptionBrowser-template {	display: none; }

.ui-tabs-panel {
	padding: 0px !important;
}
.ui-tabs-nav {
	font-size:8pt !important;
}
.listCount {
	text-align:center;
}
.listDescr {
	display:block;
	width:500px;
	height:3em;
	overflow:hidden;
	white-space:normal !important;
}
.listDescr:hover {
	width:500px;
	height:3em;
}
.listDescr:hover pre {
	z-index:1004;
	position:absolute;
	max-height:999em;
	max-width:999em;
}
pre {
	min-width:494px;
	min-height:3em;
	background:white;
	margin:1px;
	border:1px solid #8a2d05;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:1px;
}
.tabContainer {
	 display: table; 
}
.listSelectContainer{
	display:inline;
	position:relative;
}
.listViewer {
	display:none;
	position:absolute;
	top:1.4em;
	left:0px;
	background:white;
	border:1px solid #8a2d05;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
input.default { padding: 0px !important }
img { width: 64px }
table { 
	text-align: left;
	border-collapse:collapse;
}
td.sol { text-align: center }
td,th {
	padding-left:0.25em;
	padding-right:0.5em;
	vertical-align: top;
	white-space:nowrap;
}
th {
	text-size:9pt;
	text-decoration:none;
	font-weight:normal;
	padding: 2px;
	text-align: left;
	border-bottom:1px solid #8a2d05;
	border-top:1px solid #8a2d05; 
	 
}
.filter th {
	border-top:none; 
}
.labels th{
	border-bottom:none;
}
th.list {
	height:2em;
	vertical-align:bottom;
	border:none;
}
th.hidden {
	border:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
div.lists {
	display:inline;
/* 	border-bottom:1px #8a2d05 solid; */
/* 	border:1px #8a2d05 solid; */
/* 	-webkit-border-radius: 5px; */
/* 	-moz-border-radius: 5px; */
/* 	border-radius: 5px; */
/* 	padding:2px 3px 3px 3px; */
}
.line-infolist{
	display:none;
}
.typeSelectMulti{
	width:125px;
}
.ui-button {
	font-size:8pt !important;
	padding:2px !important;
}
.footer {
	font-size:smaller;
}
.less {	display: none }
.show { display: inline !important}
.inline { display: inline-block !important }
.solInput { width: 3em }
.prefix {
	display:none;
}
.listCreate{
	display:none;
}
.listSelect{
	position:relative;
	top:1px;
	width:90px;
}
.cleanLink {
	text-decoration:none;
	color:black;
}
.ui-icon{
	position:relative;
	top:1px;
}
.newImage { 
	color:red;
	display: none; 
}
div.headerDiv {
	float:left;
	display:block;
	height:48px;
	white-space:nowrap;
}
.headerDiv h1 {
		margin: 8px;
}
div.error {
	clear:both;
	color: red;
}
div.buttonDiv{
	float:both;
	height:23px;
	overflow:hidden;
}
div.reload {
	float:left;
	display:block;
	margin-top:10px;
	padding:5px;
	border:1px solid #8a2d05;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:    1px 1px 2px 1px #8a2d05;
  	-webkit-box-shadow: 1px 1px 2px 1px #8a2d05;
  	box-shadow:         1px 1px 2px 1px #8a2d05;
	text-align: center;
	width:100px;
}
div.navigation {
	width : '300px';
	float : 'left';
}
div.content {
	display: block;
}