html {
	background: none; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	margin-top:3px;
}
.ui-progressbar {
	height:1em;
}
.ui-progressbar .ui-progressbar-value { 
	background: #8a2d05 repeat ;
}
img.rssFeed {
	width:16px;
	height:16px;
}
.tweetRSS {
	display:block;
	position:absolute;
	top:0px;
	right:0px;
}
.gridContainer div{
	display:block;
	float:left;
	height:80px;
	margin:5px;
}
.preferences {
	white-space:nowrap;
}
input.max_show,input.render_max,input.font_size {
	width:5em;
}
.tab-template,.mosaic-template,.listBrowser,.listBrowser-template,.subscriptionBrowser,.subscriptionBrowser-template {	display: none; }

.ui-tabs-panel {
	padding: 0px !important;
}
/* .name_container{
	position:relative;
}
.name_box {
	display:block;
	max-width:25em;
	overflow:hidden;
}
.name_box:hover {
	position:absolute;
	max-width:999em;
	border:1px black solid;
	width:auto;
	top:0px;
	left:0px;
	z-index:10;
	background:white;
} */
.ui-tabs-nav {
	font-size:8pt !important;
}
.listCount, td.lag, td.sol {
	text-align:center;
}
.typeContainer,.camContainer {
	position:relative;
}
.filter .cam,.filter .type {
	display:block;
	height:2em;
	width:7em;
	overflow:hidden;
	white-space:normal !important;
}
.filter .cam:hover,.filter .type:hover {
	top:0px;
	min-height:999em;
	width:auto;
	height:auto;
	position:absolute;
	z-index:10;
}
.listDescr {
	display:block;
	width:500px;
	height:3em;
	overflow:hidden;
	white-space:normal !important;
}
.listDescr:hover {
	width:500px;
	height:3em;
}
.listDescr:hover pre {
	z-index:1004;
	position:absolute;
	max-height:999em;
	max-width:999em;
}
pre {
	min-width:494px;
	min-height:3em;
	background:white;
	margin:1px;
	border:1px solid #8a2d05;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:1px;
}
.tabContainer {
	display: table; 
	width:100%;
	overflow:auto;
	position:relative;
	-moz-box-shadow:    1px 1px 2px 1px #8a2d05;
  	-webkit-box-shadow: 1px 1px 2px 1px #8a2d05;
  	box-shadow:         1px 1px 2px 1px #8a2d05;
}
.listSelectContainer{
	display:inline;
	position:relative;
}
.listViewer {
	display:none;
	position:absolute;
	top:1.4em;
	left:0px;
	z-index:20;
	background:white;
	border:1px solid #8a2d05;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
input.default { padding: 0px !important }
img { width: 64px }
.selected {
	border:1px solid red;	
}
table { 
	text-align: left;
	border-collapse:collapse;
}

span {
	vertical-align: top;
}
td,th {
	padding-left:1em;
	padding-right:1em;
	vertical-align: top;
	white-space:nowrap;
}
th {
	text-decoration:none;
	font-weight:normal;
	padding: 2px;
	text-align: left;
}
.odd td {
	background-color:#FAF0E0;
	border:1px white solid;
}
.even td {
	border:1px #FAF0E0 solid;
}
.header {
	border-bottom:1px solid #8a2d05;
}
tr.footer {
	border-top:1px solid #8a2d05; 	
}
.filter th {
	border-bottom:1px solid #8a2d05;
	vertical-align:middle;
}
.labels th{
	font-weight:bold;
	vertical-align:middle;
}
th.list, th.thImageCount {
	height:2em;
	vertical-align:bottom;
	border:none;
}
th.thImageCount {
	text-align:right;
}
th.hidden {
	border:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
div.lists {
	display:inline;
/* 	border-bottom:1px #8a2d05 solid; */
/* 	border:1px #8a2d05 solid; */
/* 	-webkit-border-radius: 5px; */
/* 	-moz-border-radius: 5px; */
/* 	border-radius: 5px; */
/* 	padding:2px 3px 3px 3px; */
}
.line-infolist{
	display:none;
}
.typeSelectMulti{
	width:125px;
}
.ui-button {
	font-size:8pt !important;
	padding:2px !important;
}
.less {	display: none }
.show { display: inline !important}
.inline { display: inline-block !important }
.solInput { width: 3em }
.prefix {
	display:none;
}
.listCreate{
	display:none;
}
.listSelect{
	position:relative;
	top:1px;
	width:90px;
}
.cleanLink {
	text-decoration:none;
	color:black;
}
.ui-icon{
	position:relative;
	top:1px;
}
.newImage { 
	color:red;
	display: none; 
}
.sortable {
	 cursor: pointer;
}
div.headerDiv {
	float:left;
	display:block;
	height:48px;
	white-space:nowrap;
}
.tab-target .image{
	float:left;
	display:block;
	width:150px;
	height:100px;	
}
.headerDiv h1 {
		margin: 8px;
		font-size:20pt !important;
}
div.error {
	clear:both;
	color: red;
}
div.buttonDiv{
	float:both;
	height:23px;
	overflow:hidden;
}
div.reload {
	float:left;
	display:block;
	margin-top:10px;
	padding:5px;
	border:1px solid #8a2d05;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:    1px 1px 2px 1px #8a2d05;
  	-webkit-box-shadow: 1px 1px 2px 1px #8a2d05;
  	box-shadow:         1px 1px 2px 1px #8a2d05;
	text-align: center;
	width:100px;
}
div.navigation {
	width : '300px';
	float : 'left';
}
div.content {
	display: block;
}